<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../assets/css/createpost.css">

</head>
<body>
<div class="container-create-post">
    <div class="top-create-post">
        <div>
        </div>
        <div>
            <span> Tạo bài viết</span>
        </div>
        <div class="action" >
            <i onclick="close_post()"  class="fas fa-window-close" style="color: #d00000; padding: 10px 10px 10px 10px; font-size: 20px"></i>
        </div>
    </div>


</div>
<div class="dddd">

</div>
</body>
<script src="../assets/js/create_post.js"></script>
</html>